<template>
  <q-layout view="lHh lpr lFf">
    <q-header class="q-py-sm" style="background-color: #1c1b21;" :style="'border-bottom: 2px solid '+ theme_color">
    </q-header>
  </q-layout>
</template>


<script>
export default {
  name: 'App'
}
</script>

<style>

</style>