<template>
  <q-layout view="lHh lpr lFf">
    <q-header class="q-py-sm" style="background-color: #1c1b21;" :style="'border-bottom: 2px solid '+ theme_color">
        <q-toolbar>
        <span :style="'font-size: 35px;color:'+theme_color" class="my-font text-h6 q-mr-md">BabyGorilla</span>
        <q-space ></q-space>
      <q-tabs v-model="selected_tab" shrink>
        <q-btn v-if="account === ''" :style= "[selected_tab == 't_0' ? {backgroundColor: theme_color} : {}]" class="q-mr-sm q-py-xs custom_tab" @click="claim()" style="width:120px;min-height:auto !important;color: white" label="Connect" />
        <q-btn v-else :style= "[selected_tab == 't_0' ? {backgroundColor: theme_color} : {}]" class="q-mr-sm q-py-xs custom_tab" @click="claim()" style="width:120px;min-height:auto !important;color: white" label="Claim BNB" />
        <q-tab :style= "[selected_tab == 't_1' ? {backgroundColor: theme_color} : {}]" class="q-mr-sm q-py-xs custom_tab" @click="scrollToElement('id_discover');" style="width:120px;min-height:auto !important;color: white" label="Discover" />
        <q-tab :style= "[selected_tab == 't_2' ? {backgroundColor: theme_color} : {}]" class="q-mr-sm q-py-xs custom_tab" @click="scrollToElement('id_tokenomics');" style="width:120px;min-height:auto !important;color: white" label="Tokenomics" />
        <q-tab :style= "[selected_tab == 't_3' ? {backgroundColor: theme_color} : {}]" class="q-mr-sm q-py-xs custom_tab" @click="scrollToElement('id_roadmap');" style="width:150px;min-height:auto !important;color: white" label="BabyGorillaMap" />
        <q-tab :style= "[selected_tab == 't_4' ? {backgroundColor: theme_color} : {}]" class="q-mr-sm q-py-xs custom_tab" @click="scrollToElement('id_news');" style="min-height:auto !important;color: white" label="News" />
        <q-tab :style= "[selected_tab == 't_5' ? {backgroundColor: theme_color} : {}]" class="q-mr-sm q-py-xs custom_tab" @click="scrollToElement('id_contact_us');" style="width:120px;min-height:auto !important;color: white" label="Contact"
         />
      </q-tabs>
        
      </q-toolbar>
    </q-header>
    <q-page-container>
      <q-page>
        <q-carousel
          animated
          v-model="slide"
          arrows
          swipeable
          navigation
          infinite
          autoplay
          control-color="white"
          transition-prev="slide-right"
          transition-next="slide-left"
          height="639px"
        >
          <q-carousel-slide class="q-pa-none" :name="1" img-src="/statics/images/babygorillaLogo.jpg">
<div class="full-height full-width flex flex-center" style="background-color: rgba(0, 0, 0, 0.68) !important;">
            <div class="custom-caption">
              <div class=" main_line animation_2">WELCOME TO <span :style="'color:'+theme_color">BabyGorilla</span></div><br><br><br>
              <div class="text-h4 animation_1">Baby Gorilla Coin learned a few tips from his cousin Baby Doge</div><br><br><br>
<div class="animation_2">
<q-btn size="md" @click="scrollToElement('id_discover');" :style="'background:'+ theme_color +'; color: white'" label="READ MORE"/>
</div>
            </div>
</div>
          </q-carousel-slide>
        </q-carousel>
        <div class="row" id="id_discover">
          <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
            <q-card class="q-pa-sm flex flex-center text-center box-shadow" style="min-height: 260px ;margin: 40px;">
              <q-card-section>
                <q-icon size="110px" name="fas fa-bolt" :style="'color:'+theme_color"/>
                <div class="text-h6">INSTANT REWARDS !</div>

              </q-card-section>

              <q-card-section class="q-pt-none">
                BNB REWARDS are automatically distributed to BABY GORILLA holders,
                With every transaction 14% goes to our BNB reward pool
              </q-card-section>
            </q-card>
          </div>
          <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
            <q-card class="q-pa-sm flex flex-center text-center box-shadow" style="min-height: 260px ;margin: 40px;">


              <q-card-section>
                <q-icon size="110px" name="fas fa-moon" :style="'color:'+theme_color"/>
                <div class="text-h6">Deflationnary Token</div>

              </q-card-section>

              <q-card-section class="q-pt-none">
                <div>
                1% burn on each tx
                </div>
                <div>
                  are burned
                </div>
              </q-card-section>
            </q-card>
          </div>
          <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
            <q-card class="q-pa-sm flex flex-center text-center box-shadow" style="min-height: 260px ;margin: 40px;">


              <q-card-section>
                <q-icon size="110px" name="fas fa-globe-americas" :style="'color:'+theme_color"/>
                <div class="text-h6">Focus on marketing</div>

              </q-card-section>

              <q-card-section class="q-pt-none">
                <div>
                1% for the marketing wallet. Poll on telegram will be organise on TG! Stay tuned and vote!
                </div>
              </q-card-section>
            </q-card>
          </div>

        </div>
        <div id="id_tokenomics" class="quote">
          <div class="q-pt-xl full-width full-height flex flex-center" >
            <h3 class="text-blue-grey text-center">
            <div class="q-pb-lg">
            The Tokenomics
              </div>  
              <div class="row q-gutter-md items-start">
              <div class="q-pa-xl col-sm-6 text-h6">
These tokenomics have been very carefully thought about. We want tokenomics which reward holders and punish sellers. Other coins have not seen such high burn rates, however, us having burn rates as high as they are will impact the price directly and at a rapid rate - causing sellers and swing traders to take heavy losses.
              <br>
              <br>
              <q-btn type="a" size="lg"
                     :style="'background:'+ theme_color +'; color: white'" @click="scrollToElement('id_bgoSpecies');"  label="BGO species"/>
              </div>
              <div class="col-lg-4 col-md-4 col-12">
                 <q-img src="/statics/images/bg.jpg"></q-img>
              </div>
              </div>
            </h3>
          </div>
        </div>
        <br>
        <br>
        <div style="background-color: rgb(201,165,149) !important; margin-top: -50px" id="id_bgoSpecies">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
              <h5 class="text-center"><h3 class="text-center"><span :style="'color:'+theme_color">$BGO</span>
            </h3>
                <span
                  :style="'color:'+theme_color" class="text-center text-h6">Simply Hold, simply earn.</span>
              </h5>
              <br/>
              <br/>
            </div>
          </div> 
          <div class="q-pa-xl">       
            <div class="row q-col-gutter-sm ">
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <q-item class="box-shadow q-pa-none q-ml-xs ">
                  <q-item-section side :style="'background-color:' + theme_color" class="q-pa-sm q-mr-none text-white">
                    <q-icon name="fas fa-shield-virus" size="65px"></q-icon>
                  </q-item-section>
                  <q-item-section class="q-pa-md q-ml-none">
                    <q-item-label class="text-h6 text-grey-9 text-uppercase">Anti-rug</q-item-label>
                    <q-item-label class="text-grey-8">No dev wallet, team buy at launch like you.</q-item-label>
                  </q-item-section>
                </q-item>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <q-item class="box-shadow q-pa-none q-ml-xs">
                  <q-item-section side :style="'background-color:' + theme_color" class="q-pa-sm q-mr-none text-white">
                    <q-icon name="fas fa-lock" size="65px"></q-icon>
                  </q-item-section>
                  <q-item-section class="q-pa-md q-ml-none">
                    <q-item-label class="text-h6 text-grey-9 text-uppercase">LP LOCK</q-item-label>
                    <q-item-label class="text-grey-8">Liquidity is lock by dxsale for 6months.</q-item-label>
                  </q-item-section>
                </q-item>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <q-item class="box-shadow q-pa-none q-ml-xs q-mr-xs">
                  <q-item-section side :style="'background-color:' + theme_color" class="q-pa-sm q-mr-none text-white">
                    <q-icon name="fas fa-clipboard-check" size="65px"></q-icon>
                  </q-item-section>
                  <q-item-section class="q-pa-md q-ml-none">
                    <q-item-label class="text-h6 text-grey-9 text-uppercase">PANCAKESWAP/DXSALE
</q-item-label>
                    <q-item-label class="text-grey-8">Security. For all. You can buy on PancakeSwap with confidence., contract will be renounced after launch, and LP locked.</q-item-label>
                  </q-item-section>
                </q-item>
              </div>
            </div>
          </div>          
        </div>
        <div>
          <div id="id_roadmap" class="q-px-lg q-pb-md">
    <div class="row q-gutter-md q-mb-sm">
    <q-timeline layout="loose" :side="side" color="secondary">
      <q-timeline-entry heading><h3 class="text-center"><span :style="'color:'+theme_color">BABYGORILLA MAP</span>
              <br>
            </h3></q-timeline-entry>

      <q-timeline-entry
        title="Prepare"
        side="right"
        avatar="/statics/images/gorillaavatar.jpeg"
      >
        <div>
         Deploy official telegram
        </div>
        <div>
         Deploy the BABY GORILLA official website
        </div>
         <div>
         Being pre-marketing campaign (poocoin ads, shilling)
        </div>
        <div>
         Official smart contract deployed
        </div>
      </q-timeline-entry>

      <q-timeline-entry
        title="Lift off"
        side="left"
        avatar="/statics/images/gorillaavatar.jpeg"
      >
        <div>
         First AMA begins with one of our team members
        </div>
        <div>
         Token launches on PancakeSwap
        </div>
        <div>
         Main marketing campain begins
        </div>
      </q-timeline-entry>

      <q-timeline-entry
        title="Moon"
        side="right"
        avatar="/statics/images/gorillaavatar.jpeg"
      >
        <div>
         Our first raid on another token's Telegram is conducted
        </div>
        <div>
         Partnerships with potential influencers are sought after
        </div>
         <div>
        Certik audit
        </div>
      </q-timeline-entry>

    </q-timeline>
  </div>
  </div>
        </div>
<div class="row" id="id_news">
          <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <h3 class="text-center"><span :style="'color:'+theme_color">Latest News</span>
              <br>
            </h3>
          </div>
        </div>
        <div class="row text-center flex flex-center">
          <div class="col-md-12 col-lg-12 col-sx-12 col-sm-12 q-gutter-md flex flex-center">
            <div class="col-md-4 col-lg-4 col-sx-12 col-sm-12">
              <q-card @mouseover="hoverOver(1)" @mouseout="hoverOutTimeout(1)" style="border: none;" class="my-card text-center box-shadow" flat bordered>
                <q-img
                style="max-height: 255px"
                  src="/statics/images/bscscan.jpg"
                />

                <q-card-section class="text-left">

                  <div :class="about_heading_1" :style="'color: ' + about_heading_color_1" class="about_heading_1 text-h6 q-mt-sm q-mb-xs">Token is deployed!</div>
                  <div class="text-caption text-grey-9 q-mt-sm">
                    Smart Contract Address: SOON !
                  </div>
                </q-card-section>
              </q-card>
            </div>
            <div class="col-md-4 col-lg-4 col-sx-12 col-sm-12">
              <q-card @mouseover="hoverOver(3)" @mouseout="hoverOutTimeout(3)" style="border: none;" class="my-card text-center box-shadow" flat bordered>
                <q-img
                style="max-height: 255px"
                  src="/statics/images/bg.jpg"
                />

                <q-card-section class="text-left">

                  <div :class="about_heading_3" :style="'color: ' + about_heading_color_3" class="text-h6 q-mt-sm q-mb-xs">We are hiring!</div>
                  <div class="text-caption text-grey-9 q-mt-sm">
                    <div>
                      We're looking for community managers. Send Email!
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </div>
          </div>
        </div>
        <br>
        <br>
<div class="contact_us" id="id_contact_us">
<div style="background-color: rgb(201,165,149) !important;">
<div class="row" id="id_news">
  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
    <h5 class="text-center text-white">Contact Us
      <br>
    </h5>
  </div>
</div>
<div class="row text-center flex flex-center q-pb-lg">

<div class="col-md-6 col-lg-6 col-sx-12 col-sm-12 q-gutter-lg q-px-xl q-pb-none q-ma-none">
	      <q-input v-model="name" bg-color="white" outlined label="Your Name *">
		<template v-slot:append>
		  <q-icon name="event" :style="'color:' + theme_color" />
		</template>
	      </q-input>
<q-input v-model="email" bg-color="white" outlined label="Your Email *">
		<template v-slot:append>
		  <q-icon name="event" :style="'color:' + theme_color" />
		</template>
	      </q-input>
</div>
<div class="col-md-6 col-lg-6 col-sx-12 col-sm-12 q-gutter-lg q-px-xl q-pb-none q-ma-none">
<q-input v-model="message" class="" type="textarea" bg-color="white" outlined label="Your Message *">
<template v-slot:append>
		  <q-icon name="event" :style="'color:' + theme_color" />
		</template>
	      </q-input>
</div>
</div>
<div class="row flex flex-center text-center q-pb-xl q-mt-md">
<div class="col-md-12 col-lg-12 col-sx-12 col-sm-12">
<q-btn @click="sendMessage()" size="lg" :style="'background:'+ theme_color +'; color: white'" label="Send Message" />
</div>
</div>
</div>
</div>
        <q-toolbar class="flex flex-center text-white" style="background-color: #1c1b21;" :style="'border-top: 2px solid '+ theme_color">
           <div class="q-pa-sm q-gutter-sm">
	    <q-btn round type="a" href="https://t.me/babygorillatoken"
                     :style="'background:'+ theme_color +'; color: white !important;'" icon="fab fa-telegram" />
            <q-btn round type="a" href="mailto:babygorillatoken@hotmail.com"
                     :style="'background:'+ theme_color +'; color: white !important;'" icon="email" />
	    <q-btn round type="a" href="https://exchange.pancakeswap.finance/#/swap?outputCurrency="
                     :style="'background:'+ theme_color +'; color: white !important;'" glossy text-color="black" >
                     <q-avatar>
        <img class="q-pa-xs" src="../statics/images/pancakeswap-cake-logo.png">
      </q-avatar>
      </q-btn>
      <q-btn round type="a" href="http://poocoin.app/tokens/"
                     :style="'background:'+ theme_color +'; color: white !important;'" glossy text-color="black" >
                     <q-avatar>
        <img src="../statics/images/poocoin2.png">
      </q-avatar>
      </q-btn>
	  </div>
        </q-toolbar>

      </q-page>
    </q-page-container>
     <q-dialog
      v-model="fullHeight"
      full-height
    >
      <q-card class="column full-height" style="width: 300px">
        <q-card-section>
          <div class="text-h6">Hi ! {{account.substring(0,10)}}...</div>
        </q-card-section>

         <q-card-section outlined class="text-h6 col q-pt-xl">
          To claim:
          <q-input class="q-pt-lg" rounded outlined v-model="zero">
            
          </q-input>
          <div class="q-pa-xl text-center">
          <q-btn disabled color="primary" label="claim">
          </q-btn>
          <q-card-section class="q-pt-xl">
            <q-avatar size="130px">
              <img src="/statics/images/bg.jpg">
            </q-avatar>
          </q-card-section>
          </div>
        </q-card-section>


        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="OK" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-layout>
</template>

<style src="@quasar/quasar-ui-qflashcard/dist/index.css"></style>

<script>
  import WalletConnect from "@walletconnect/client";
  import QRCodeModal from "@walletconnect/qrcode-modal";
  import { scroll, Notify } from 'quasar'
  const { getScrollTarget, setScrollPosition } = scroll
    
    import {QFlashcard, QFlashcardSection} from '@quasar/quasar-ui-qflashcard'

    export default {
        components: {
            QFlashcard,
            QFlashcardSection
        },
        data() {
            return {
                show: false,
                zero: '0 BNB',
                fullHeight: false,
                account: '',
                name: '',
                email: '',
                message: '',
                slide: 1,
		            review_slide: 'style',
                selected_tab: 't_0',
                team_slide: 1,
                bg_color: 'rgb(44,45,51)',
                hover: false,
                active: false,
                theme_color: 'rgb(182,182,182)',
                background_style: 'background-color:rgba(0, 163, 82, 0.7);',
                about_heading_1: [],
                about_heading_2: [],
                about_heading_3: [],
                about_heading_color_1: '#424242',
                about_heading_color_2: '#424242',
                about_heading_color_3: '#424242'
            }
        },
        mounted() {
          if(account!== '') {
            show = true
          }
        },
        computed: {
            style() {
                return {
                    width: '340px',
                    height: '263px',
                    backgroundImage: `url('https://raw.githubusercontent.com/quasarframework/quasar-ui-qflashcard/dev/demo/src/statics/bgimg.jpg')`, // eslint-disable-line
                    textAlign: 'center',
                    boxShadow: '1px 1px 2px #e6e6e6',
                    display: 'inline-block'
                }
            },
            team_style() {
                return {
                    width: '260px',
                    height: '263px',
                    backgroundImage: `url('https://raw.githubusercontent.com/quasarframework/quasar-ui-qflashcard/dev/demo/src/statics/bgimg.jpg')`, // eslint-disable-line
                    textAlign: 'center',
                    boxShadow: '1px 1px 2px #e6e6e6',
                    display: 'inline-block'
                }
            }
        },
        methods: {
          claim() {
            this.fullHeight = true
            console.log('start')
            const connector = new WalletConnect({
            bridge: "https://bridge.walletconnect.org", // Required
            qrcodeModal: QRCodeModal,
          });
          console.log(connector.accounts[0])
          this.account = connector.accounts[0]
            if (!connector.connected) {
              // create new session
              connector.createSession();
            }
            connector.on("connect", (error, payload) => {
            if (error) {
              throw error;
            }

            const { accounts, chainId } = payload.params[0];
            console.log(accounts )
            this.account = accounts

            });


            connector.on("session_update", (error, payload) => {
          if (error) {
          throw error;
          }

});

connector.on("disconnect", (error, payload) => {
  if (error) {
    throw error;
  }
console.log('issou')
  // Delete connector
});

          },
          sendMessage() {
            this.email = ''
            this.name = ''
            this.message = ''
            this.$q.notify({
              message: 'Message sent',
              color: 'pink'
            })
          },
          scrollToElement (id) {
            let el = document.getElementById(id)
            const target = getScrollTarget(el)
            const offset = el.offsetTop + 3
            const duration = 900
            setScrollPosition(target, offset, duration)
          },
            changeBgColor() {
                this.theme_color = this.bg_color;
                this.background_style = 'background-color:' + this.bg_color.split(')')[0] + ',0.7)';
                console.log(this.bg_color)
            },
            hoverOver: function(index) {
              this['about_heading_color_' + index] = this.theme_color;
              this['about_heading_' + index] = ['animated', 'bounceIn'];              
            },
            hoverOutTimeout: function(index) {
              this['about_heading_color_' + index] = '#424242';
              setTimeout(() => {
                this['about_heading_' + index] = [];                
              }, 1000);              
            },
        }
    }
</script>

<style lang="sass" scoped>
    .main_line
      font-size: 50px;
      letter-spacing: 5px;
      line-height: 60px;
      font-weight: 600;

    .custom-caption
      text-align: center;
      padding: 12px;
      color: white;

    .animation_1
      -webkit-animation: bounceIn 1s ease-in 800ms both;
      animation: bounceIn 1s ease-in 800ms both;

    .animation_2
      -webkit-animation: flipInX 2s ease-in-out 800ms both;
      animation: flipInX 1s ease-in-out 800ms both;

    .animation_3
      -webkit-animation: lightSpeedIn 1s ease-in 800ms both;
      animation: lightSpeedIn 1s ease-in 800ms both;

    .description
      padding: 10px
      background-color: black
      color: white
      box-shadow: 1px 1px 2px #e6e6e6

    .my-header
      width: 200px
      top: 0
      height: 45px
      color: black
      background-color: rgba(255,255,255, 0.8)
      text-transform: uppercase
      text-align: center
      font-size: 17px
      margin: 20px 0 0 68px
      padding: 25px

    .my-text
      width: 100%
      top: 0
      height: 90px
      color: white
      text-align: center
      font-size: 15px
      margin: 79px 0 0 0
      padding: 20px
      line-height: normal
      font-family: Georgia, serif
      font-style: italic

    .my-button-container
      width: 100%

    .my-button
      text-decoration: none
      text-transform: uppercase
      margin: 0 0 20px 0
      text-align: center
      padding: 7px 14px
      background-color: #000
      color: #fff
      text-transform: uppercase
      box-shadow: 0 0 1px #000
      transition-delay: 0.2s

    .my-button:hover
      box-shadow: 0 0 5px #000

    .box-shadow:hover
      box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12) !important;

    .my-card
      width: 350px
      max-width: 350px
      margin-top: 10px

    .team-header
      width: 100%
      top: 0
      height: 45px
      color: white
      text-transform: uppercase
      text-align: center
      font-size: 17px
      margin: 60px 0 0 0
      padding: 12px

    .team-text
      width: 100%
      top: 0
      height: 90px
      color: white
      text-align: center
      font-size: 15px
      margin: 100px 0 0 0
      padding: 20px
      line-height: normal
      font-family: Georgia, serif
      font-style: italic
    
    // .quote
    //   background: url(/statics/images/bg.jpg);
    //   background-size: ;
    //   background-position: center;
    //   background-attachment: fixed;
    //   background-repeat: no-repeat;
    
    .pricing
      background: url(/statics/images/pricing.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
    
    .contact_us
      background: url(/statics/images/contact_us.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
    
    .custom_tab
      width: 130px;
</style>

